.profile-container {
    padding-top: 30px;
}

.profile-info {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.profile-info .profile-avatar img {
    border-radius: 50%;
    max-width: 250px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.options ul {
    list-style:none;
}

.profile-info .profile-email {
    font-weight: 400;
}
